@import 'vendor/normalize', 'vendor/animate';

@font-face {
    font-family: 'weather';
    src: url('/fonts/artill_clean_icons-webfont.eot');
    src: url('/fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('/fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('/fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==== Main CSS ==== */
$color-primary: #6375E4;
$color-primary-dark: #2A2929;
$color-light: #fff;

body  {
	background-color: $color-primary;
	color: $color-primary-dark;
	font-family: "brandon-grotesque",sans-serif;
}

a {
	border-bottom: 1px solid $color-primary-dark;
	color: $color-primary-dark;
	text-decoration: none;
	transition: all 500ms ease-in-out;
	pointer-events: visible;

	&:hover {
		border-bottom: 4px solid rgba(55, 54, 54, 1);
		color: rgba(55, 54, 54, 1);
	}
}

.backdrop {
  	position:fixed;
  	top:0;
  	bottom:0;
  	left:0;
  	right:0;
  	z-index: -1;

		background-size: cover;
		background-position: center center;

 	&__overlay {
  		position: absolute;
  		height: 100%;
  		width: 100%;
		background: linear-gradient(to bottom right, $color-primary, rgba($color-primary, .95), rgba($color-primary, .75), rgba(55, 54, 54, 0.34));
		z-index: 2;
		pointer-events: none;

		@media (max-width: 400px) {
			background: linear-gradient(to bottom right, $color-primary, $color-primary, rgba($color-primary, .75), rgba(55, 54, 54, 0.34));
		}
  }
}

.self {
	position: fixed;
	display: inline-block;
  	min-width: 320px;
	margin: 0;
	padding: 50px;
	z-index: 1;
	pointer-events: none;

	@media (max-width: 400px) {
		min-width: inherit;
		padding: 20px;
	}

	&__name {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		border-bottom: 10px solid $color-primary-dark;
		color: $color-primary-dark;
		font-weight: bold;
		font-size: 52px;
		text-transform: uppercase;

		@media (max-width: 400px) {
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 42px;
		}
	}

	&__about {
		margin: 20px 0 0;
		color: $color-primary-dark;
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;

		@media (max-width: 400px) {
			background-color: transparent;
		}
	}

	&__attributes {
		padding: 0;
		list-style: none;

		li {
			margin-top: 10px;
			padding-left: 26px;

			@media (max-width: 400px) {
				margin-top: 5px;
				margin-bottom: 5px;
				padding-top: 5px;
				padding-bottom: 5px;
			}

			svg {
				margin-left: -28px;
				height: 12px;
			}
		}
	}

	&__social {
	  	margin-top: 50px;
	  	margin-bottom: 0;
	  	padding-top: 10px;
	  	border-top: 1px solid rgba(197, 199, 208, 0.3);
	  	color: rgba(197, 199, 208, .7);
	  	font-size: 12px;
	  	font-weight: bold;
	  	text-transform: uppercase;
	  	letter-spacing: 3px;

	  	a  {
	  		border-color: rgba(197, 199, 208, .8);
	  		color: rgba(197, 199, 208, .8);
	  		font-weight: normal;
	  	}
	}
}

/* Tilt Effect Styling - Credit to Codrops */
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

#weather {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: $color-light;
	opacity: .6;

	h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		margin-top: 8px;
		font-family: weather;
		font-size: 100px;
		line-height: 50px;
	}

	.weather {
		&__details {
			display: inline-block;
			margin-left: 10px;
		}

		&__temp {
			margin: 0;
			letter-spacing: 2px;
			vertical-align: middle;

			.temp__c {
				display: none;
			}

			&:focus,
			&:hover {
				.temp__f {
					display: none;
				}

				.temp__c {
					display: initial;
				}
			}
		}

		&__city {
			opacity: .5;
			font-size: 12px;

			&:active,
			&:hover {
				opacity: 1;
			}
		}
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
		font-size: 12px;

		.currently {
			margin-top: -6px;
			margin-bottom: 4px;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: .1rem;
		}
	}
}

/* Weather Icons */
#weather h1.icon-0:before { content: ":"; }
#weather h1.icon-1:before { content: "p"; }
#weather h1.icon-2:before { content: "S"; }
#weather h1.icon-3:before { content: "Q"; }
#weather h1.icon-4:before { content: "S"; }
#weather h1.icon-5:before { content: "W"; }
#weather h1.icon-6:before { content: "W"; }
#weather h1.icon-7:before { content: "W"; }
#weather h1.icon-8:before { content: "W"; }
#weather h1.icon-9:before { content: "I"; }
#weather h1.icon-10:before { content: "W"; }
#weather h1.icon-11:before { content: "I"; }
#weather h1.icon-12:before { content: "I"; }
#weather h1.icon-13:before { content: "I"; }
#weather h1.icon-14:before { content: "I"; }
#weather h1.icon-15:before { content: "W"; }
#weather h1.icon-16:before { content: "I"; }
#weather h1.icon-17:before { content: "W"; }
#weather h1.icon-18:before { content: "U"; }
#weather h1.icon-19:before { content: "Z"; }
#weather h1.icon-20:before { content: "Z"; }
#weather h1.icon-21:before { content: "Z"; }
#weather h1.icon-22:before { content: "Z"; }
#weather h1.icon-23:before { content: "Z"; }
#weather h1.icon-24:before { content: "E"; }
#weather h1.icon-25:before { content: "E"; }
#weather h1.icon-26:before { content: "3"; }
#weather h1.icon-27:before { content: "a"; }
#weather h1.icon-28:before { content: "A"; }
#weather h1.icon-29:before { content: "a"; }
#weather h1.icon-30:before { content: "A"; }
#weather h1.icon-31:before { content: "6"; }
#weather h1.icon-32:before { content: "1"; }
#weather h1.icon-33:before { content: "6"; }
#weather h1.icon-34:before { content: "1"; }
#weather h1.icon-35:before { content: "W"; }
#weather h1.icon-36:before { content: "1"; }
#weather h1.icon-37:before { content: "S"; }
#weather h1.icon-38:before { content: "S"; }
#weather h1.icon-39:before { content: "S"; }
#weather h1.icon-40:before { content: "M"; }
#weather h1.icon-41:before { content: "W"; }
#weather h1.icon-42:before { content: "I"; }
#weather h1.icon-43:before { content: "W"; }
#weather h1.icon-44:before { content: "a"; }
#weather h1.icon-45:before { content: "S"; }
#weather h1.icon-46:before { content: "U"; }
#weather h1.icon-47:before { content: "S"; }
